# Compiled Java files
*.class
target/
.mvn/wrapper/maven-wrapper.jar

# Node & Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and Secrets
.env
.env.local
.env.*.local
*.secret

# IDE specific files
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
